$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$dark: #262626;
$darkgray: #848484;
$gray: #e1e1e1;
$lightgray: #f4f4f4;

.text-primary {
    color: $primary;
}

.bg-gray {
    background: $gray;
}

.bg-lightgray {
    background: $lightgray;
}

