@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;700&display=swap');

$minTablette: 600px;
$minDesktop: 900px;

body {
    color: $darkgray;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
}

strong {
    font-weight: 600;
    color: #262626;
}

img {
    max-width: 100%;
}

.title {
    font-size: 18px;
}

.title-border {
    display: block;
    height: 3px;
    width: 40px;
    background-color: $tertiary;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

.shrikhand {
    font-family: 'Shrikhand', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.item-baseline {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-end {
    align-items: end;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.shadow {
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 20%);
}

