.text-center {
    text-align: center;
}

.ml-5 {
    margin-left: 5px;
}

.ml-8 {
    margin-left: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.item-baseline {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}

.bg-gray {
    background: $gray;
}

.bg-lightgray {
    background: $lightgray;
}

.container {
    margin: 20px;
}
