.loader {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, .5);
    animation: loaderout .4s forwards;
    animation-delay: 1s;

    .loader-icon {
        margin: auto;
        width: 60px;
        animation: loading 1s linear infinite;
    }
}

@keyframes loaderout {
    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
