/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-primary {
  color: #9356DC;
}

.bg-gray {
  background: #e1e1e1;
}

.bg-lightgray {
  background: #f4f4f4;
}

body {
  color: #848484;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
}

strong {
  font-weight: 600;
  color: #262626;
}

img {
  max-width: 100%;
}

.title {
  font-size: 18px;
}

.title-border {
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.shrikhand {
  font-family: "Shrikhand", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.item-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-end {
  align-items: end;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 22px;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(#FF79DA, #9356DC);
  border: #9356DC;
  color: #fff;
  transition: opacity 0.3s, box-shadow 0.2s;
}
.btn-primary:hover {
  box-shadow: unset;
  opacity: 0.8;
  background: linear-gradient(#9356DC, #FF79DA);
}

.btn-light {
  background: #f4f4f4;
  border: #f4f4f4;
  color: #262626;
  transition: background 0.3s ease-in-out;
}
.btn-light:hover, .btn-light.active {
  background: #f4ebfd;
  border: #f4ebfd;
}

.btn-icon {
  display: flex;
  align-items: center;
}
.btn-icon i {
  color: #7a7a7a;
  margin-left: 10px;
  margin-right: 15px;
}
.btn-icon.active i {
  color: #9356DC;
}

.btn-alert {
  position: relative;
}
.btn-alert .btn-alert-circle {
  background-color: #9356DC;
  color: #fff;
  height: 18px;
  width: 18px;
  font-size: 10px;
  font-weight: 300;
  border-radius: 50%;
  display: block;
  line-height: 18px;
  position: absolute;
  top: calc(50% - 10px);
  left: -7px;
}

.btn-heart {
  border: transparent;
  background: transparent;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  width: 32px;
  height: 32px;
}
.btn-heart .icon-empty,
.btn-heart .icon-full {
  position: absolute;
  top: 0;
  left: 0;
}
.btn-heart .icon-empty {
  color: #7a7a7a;
  transition: opacity 0.4s ease-in-out;
}
.btn-heart .icon-full {
  background: -webkit-linear-gradient(bottom left, #FF79DA 30%, #9656DC 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.btn-heart:hover .icon-empty {
  opacity: 0;
}
.btn-heart:hover .icon-full {
  opacity: 1;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
  background: #fff;
  margin-top: 15px;
  box-shadow: 1px 7px 5px rgb(230, 230, 230);
  animation: slidein 1s;
}
.card:hover .card-price {
  margin-right: 90px;
}
.card:hover .card-check {
  right: 0;
}
.card:hover .card-check .icon {
  transform: rotate(360deg);
}
.card a {
  width: 100%;
  color: #7a7a7a;
  text-decoration: none;
}
.card .btn-heart {
  margin-top: 5px;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
}
.card-check {
  border: 1px solid #99E2D0;
  background: #99E2D0;
  position: absolute;
  right: -80px;
  top: 0;
  bottom: 0;
  width: 80px;
  border-radius: 0 12px 12px 0;
  transition: right 0.4s;
}
.card-check .icon {
  color: #fff;
  font-size: 25px;
  transition: transform 0.6s ease-in;
}

.card-flag {
  position: absolute;
  display: block;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #2c8771;
}

.card-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-content {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}
.card-content div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title {
  margin: 4px 0;
  font-weight: 600;
  text-decoration: none;
  color: #181818;
}

.card-text {
  margin: 4px 0;
  font-weight: 400;
}

.card-price {
  margin-bottom: 5px;
  margin-right: 10px;
  transition: margin-right 0.4s;
}

@media screen and (min-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media screen and (min-width: 900px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.loader {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  animation: loaderout 0.4s forwards;
  animation-delay: 1s;
}
.loader .loader-icon {
  margin: auto;
  width: 60px;
  animation: loading 1s linear infinite;
}

@keyframes loaderout {
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  text-align: center;
  padding-top: 5px;
}

.header-info {
  color: #262626;
  padding: 14px;
  background: #e6e6e6;
  border-top: 2px solid #d7d6d6;
}
.header-info strong {
  font-weight: 500;
}

.header-logo .logo {
  height: 30px;
  padding: 5px;
}

.header-heading {
  padding: 30px;
}
.header-heading .heading-title span,
.header-heading .heading-content span {
  display: block;
}
.header-heading .heading-title {
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}
.header-heading .heading-content {
  color: #848484;
}

.header-info button {
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.restaurant-header {
  position: relative;
  padding: 10px;
  text-align: center;
}
.restaurant-header .logo {
  height: 30px;
  vertical-align: middle;
}
.restaurant-header .icon {
  position: absolute;
  left: 20px;
  top: calc(50% - 8px);
  color: rgb(33, 33, 33);
}

@media screen and (min-width: 900px) {
  .header-logo {
    text-align: left;
  }
  .header-logo .logo {
    height: auto;
    width: 210px;
    margin-left: 5px;
  }
  .header-heading {
    padding: 70px 30px;
  }
  .header-heading .heading-title span,
.header-heading .heading-content span {
    display: inline;
  }
  .restaurant-header {
    text-align: right;
    margin-right: 10px;
  }
}
.operation-actions {
  padding-left: 6px;
}
.operation-actions .btn {
  border-radius: 14px;
  font-weight: 600;
  width: 100%;
  height: 54px;
  margin-bottom: 20px;
  box-shadow: 1px 7px 5px #ddd;
}

.restaurant-slider img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.container-page {
  position: relative;
  max-width: 1140px;
  margin: -40px auto 0 auto;
  padding: 20px;
  z-index: 2;
  border-radius: 40px 40px 0 0;
}
.container-page .heading-title {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-page .heading-title .title {
  font-size: 30px;
  margin: 0;
}
.container-page .heading-title .icon {
  font-size: 30px;
}
.container-page .btn {
  padding: 14px 45px;
  margin-bottom: 30px;
}

.restaurant-menu-step {
  margin-bottom: 30px;
}

.menu-step-title {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: rgb(120, 120, 120);
  font-weight: 300;
}

@media screen and (min-width: 600px) {
  .restaurant-slider img {
    max-height: 380px;
    object-fit: cover;
  }
}
@media screen and (min-width: 900px) {
  .operation-actions {
    padding-left: 0;
    display: flex;
    gap: 30px;
  }
  .restaurant-slider img {
    max-height: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .container-page {
    margin: -40px auto 40px auto;
    border-radius: 40px;
  }
}
.footer {
  background: rgb(27, 27, 27);
  padding: 20px;
}

.footer-logo .logo path {
  fill: rgb(218, 218, 218) !important;
}

.footer-item a,
.footer-item i {
  color: rgb(218, 218, 218);
  font-size: 14px;
}

.footer-item a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
.footer-item a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  .footer {
    background: rgb(27, 27, 27);
    padding: 40px;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .footer-logo {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
