/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-primary {
  color: #9356DC;
}

.bg-gray {
  background: #e1e1e1;
}

.bg-lightgray {
  background: #f4f4f4;
}

body {
  color: #848484;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
}

img {
  max-width: 100%;
}

.title {
  font-size: 18px;
}

.shrikhand {
  font-family: "Shrikhand", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 20px auto;
  padding: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-8 {
  margin-left: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.item-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.btn {
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 22px;
}

.btn-primary {
  background: linear-gradient(#FF79DA, #9356DC);
  border: #9356DC;
  color: #fff;
}
.btn-primary:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}

.btn-light {
  background: #f4f4f4;
  border: #f4f4f4;
  color: #262626;
}
.btn-light:hover, .btn-light.active {
  background: #dedcf2;
  border: #dedcf2;
}

.btn-icon {
  display: flex;
  align-items: center;
}
.btn-icon i {
  color: #7a7a7a;
  margin-left: 10px;
  margin-right: 15px;
}
.btn-icon.active i {
  color: #9356DC;
}

.btn-alert {
  position: relative;
}
.btn-alert .btn-alert-circle {
  background-color: #9356DC;
  color: #fff;
  height: 18px;
  width: 18px;
  font-size: 10px;
  font-weight: 300;
  border-radius: 50%;
  display: block;
  line-height: 18px;
  position: absolute;
  top: calc(50% - 10px);
  left: -7px;
}

.card {
  position: relative;
  border-radius: 12px;
  background: #fff;
  margin-top: 15px;
  box-shadow: 1px 7px 5px #ddd;
}

.card-flag {
  position: absolute;
  display: block;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #2c8771;
}

.card-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-title {
  margin: 4px 0;
  font-weight: 600;
}

.card-text {
  margin: 4px 0;
  font-weight: 400;
}

.card-btn {
  border: transparent;
  background: transparent;
  font-size: 18px;
}

@media screen and (min-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media screen and (min-width: 900px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.header {
  text-align: center;
  padding-top: 5px;
}

.header-info {
  color: #262626;
  padding: 14px;
  border-top: 1px solid #b9afaf;
}
.header-info strong {
  font-weight: 500;
}

.header-logo .logo {
  height: 30px;
  padding: 5px;
}

.header-heading {
  padding: 30px;
}
.header-heading .heading-title span,
.header-heading .heading-content span {
  display: block;
}
.header-heading .heading-title {
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}
.header-heading .heading-content {
  color: #262626;
}

.header-info button {
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

@media screen and (min-width: 900px) {
  .header-logo {
    text-align: left;
  }
  .header-logo .logo {
    height: auto;
    width: 210px;
    margin-left: 5px;
  }
  .header-heading {
    padding: 70px 30px;
  }
  .header-heading .heading-title span,
.header-heading .heading-content span {
    display: inline;
  }
}
.operation-actions {
  padding-left: 6px;
}
.operation-actions .btn {
  border-radius: 14px;
  font-weight: 600;
  width: 100%;
  height: 54px;
  margin-bottom: 20px;
  box-shadow: 1px 7px 5px #ddd;
}

@media screen and (min-width: 900px) {
  .operation-actions {
    padding-left: 0;
    display: flex;
    gap: 30px;
  }
}
.footer {
  background: rgb(27, 27, 27);
  padding: 20px;
}

.footer-logo .logo path {
  fill: rgb(218, 218, 218) !important;
}

.footer-item a,
.footer-item i {
  color: rgb(218, 218, 218);
  font-size: 14px;
}

.footer-item a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
.footer-item a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  .footer {
    background: rgb(27, 27, 27);
    padding: 40px;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .footer-logo {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
